---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Google Scholar",
		link: "https://scholar.google.com/citations?user=Z5iuT98AAAAJ&hl=en",
		name: "academicons:google-scholar",
	},
	{
		friendlyName: "Github",
		link: "https://github.com/moritzertelt",
		name: "mdi:github",
	},
	{
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/m-ertelt/",
		name: "mdi:linkedin",
	},
	{
		friendlyName: "Twitter",
		link: "https://x.com/ErteltMoritz",
		name: "mdi:twitter",
	},
	{
		friendlyName: "Bluesky",
		link: "https://bsky.app/profile/moritzertelt.bsky.social",
		name: "simple-icons:bluesky",
	},
	{
		friendlyName: "Email",
		link: "mailto:moritz.ertelt@gmail.com",
		name: "mdi:email",
	},
];
---

<div class="flex flex-wrap items-center gap-4">
	<ul class="flex flex-wrap items-center gap-4">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
				<li class="flex">
					<a
						class="hover:text-link inline-flex items-center gap-x-2"
						href={link}
						rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
						target="_blank"
					>
						<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name={name} />
						<span>{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
